<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>

  <body class="body-dashboard">

      <h1> Dashboard </h1>
      <h2> Bienvenido una vez más agente <span id="dashboardEmail"></span> </h2>
      <button id="logoutBtn" class="btn-style">Cerrar sesión</button>


      <script src="../js/dashboard.js"></script>
  </body>
</html>
